.banner-header {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
        153deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(30, 15, 125, 1) 0%,
        rgba(105, 68, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        153deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(30, 15, 125, 1) 0%,
        rgba(105, 68, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
        153deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(30, 15, 125, 1) 0%,
        rgba(105, 68, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ffffff",GradientType=1);

    width: 100%;
}

.banner-header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    color: darkslategrey;
}
