.banner-header {
    background-image: url(../../../images/banner1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.banner-header-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
